.mmb_header{
    position: relative;
}
.mmb_header .fa{
    height: 50px;
    line-height: 50px;
    color: #fff;
}
.mmb_header img{
    position: absolute;
    top: 0;
    right: 10px;
}
.mmb_header h1{
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.mmb_content{
    background-color: #fff;
    padding: 10px;
}
.mmb_content .title{
    padding: 10px 10px;
}
.mmb_content .title h3{
    padding-bottom: 20px;
}
.mmb_content .title p{
    font-size: 12px;
    color: #666;
}
.mmb_content .info{
    padding: 10px;
}
.mmb_content .info img{
     width: 120px;
     height: 120px;
    float: right;
 }
.mmb_content .info p{
    padding-bottom: 10px;
    color: #606060;
}
.mmb_content .pic{
    width: 100%;
}
.mmb_content .pic img{
    width: 45%;
    padding-bottom: 20px;
}
.mmb_content .area{
    width: 174px;
    margin: 0 auto;
    padding:0 10px 10px 10px ;
    border: 1px solid #f5f5f5;
}
.mmb_content .area li{
    border-bottom: 1px dashed #ccc;
    font-size: 14px;
}
.mmb_content .area strong{
    float: right;
    color: #f27b04;
}
.mmb_content .go{
    width: 100%;
    padding: 10px;
}
.mmb_content .go a{
    height: 30px;
    width: 100%;
    line-height: 30px;
    display: block;
   background: #FF9000;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.mmb_content .maxPic{
    width: 100%;
}
.mmb_content .maxPic img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.mmb_content .cu-content-pl{
    width: 100%;
    padding: 10px;
}
.mmb_content .cu-content-pl .reply .form{
    position: relative;
}
.mmb_content .cu-content-pl .title{
    padding-bottom: 10px;
}
.mmb_content .cu-content-pl .form textarea{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border-radius: 5px;
}
.mmb_content .cu-content-pl .form .ctrl input{
    background-color: #ff841d;
    position: absolute;
    padding: 10px 15px;
    bottom: 5px;
    right: 1px;
    border-radius: 5px;
    color: #fff;
}
.mmb_content .cu-content-pl .ui-border-b{
   margin-top: 10px;
}
.mmb_content .cu-content-pl .ui-border-b .userimg img{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}
.mmb_content .cu-content-pl .ui-border-b .con{
    overflow: hidden;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.mmb_content .cu-content-pl .ui-border-b .con .username{
    display: inline-block;
    font-size: 12px;
    color: #5997c0;
}
.mmb_content .cu-content-pl .ui-border-b .con .time{
    float: right;
    font-size: 12px;
    color: #999;
}
.mmb_content .cu-content-pl .ui-border-b .con .content{
    color: #606060;
    padding-top: 5px;
}
/*.mmb_content .reply .from textarea{*/
    /*width: 100%;*/
    /*margin-top: 10px;*/
    /*border: 2px solid #ECEAE8;*/
    /*border-radius: 5px;*/
/*}*/
/*.mmb_content .reply a{*/
    /*background-color: #ff841d;*/
    /*position: absolute;*/
    /*padding: 10px 15px;*/
    /*bottom: 15px;*/
    /*right: 12px;*/
    /*border-radius: 5px;*/
    /*color: #fff;*/
/*}*/
/*.mmb_content .newPl{*/
    /*width: 100%;*/
    /*padding-bottom: 20px;*/
/*}*/
/*.mmb_content .newPl .user{*/
    /*padding-top: 10px;*/
/*}*/
/*.mmb_content .newPl img{*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*border-radius: 50%;*/
    /*float: left;*/
/*}*/
/*.mmb_content .newPl p{*/
    /*overflow: hidden;*/
    /*padding-left: 10px;*/
/*}*/
/*.mmb_content .newPl .user .user_name{*/
    /*font-size: 12px;*/
    /*color: #5997c0;*/
/*}*/
/*.mmb_content .newPl .user .time{*/
    /*font-size: 12px;*/
    /*color: #999;*/
/*}*/
/*.mmb_content .newPl .user .nr{*/
    /*color: #606060;*/
    /*padding-top: 5px;*/
/*}*/









