<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>慢慢买</title>
    <link rel="stylesheet" href="lib/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/baicaijia.css">
</head>
<body>
<div class="container" id="up">
    <!--头部-->
    <div class="mmb_header">
        <div class="logo">
            <a href="javascript:history.go(-1);"><span class="fa fa-chevron-left "></span></a>
        </div>
        <h1>白菜价-淘宝内部券</h1>
        <div class="down">
            <img src="images/header_app.png" alt="">
        </div>
    </div>

    <!--导航-->
    <div class="mmb_nav">
        <div class="nav">
            <ul class="tabs clearfix">

            </ul>
            <div class="search">
                <img src="images/Screenshot_2.png" alt="">
            </div>
        </div>
    </div>

    <!--产品内容-->
    <div class="mmb_content">
        <ul class="clearfix">

        </ul>

    </div>



    <!--底部-->
    <div class="mmb_footer">
        <div class="footer_info clearfix">
            <a href="javascript:;">登录</a>
            <a href="javascript:;">注册</a>
            <a href="#up"><span class="fa fa-arrow-up"></span>返回顶部</a>
        </div>
        <div class="footer_bottom">
            <p><a href="javascript:;" class="now">手机APP下载</a>
                <a href="javascript:;">慢慢买手机版</a>
                <span>-- 掌上比价平台</span></p>
            <p>m.manmanbuy.com</p>
        </div>
    </div>
</div>

<script type="text/html" id="tpl">
    {{each result v i}}
    <li class="{{i=== 0 ? 'active' : ''}}" data-id="{{v.titleId}}"><a href="javascript:;">{{v.title}}</a></li>
    {{/each}}
</script>

<script type="text/html" id="tpl2">
    {{each result v i}}
    <li>
        <a href="javascript:;">
            <%- v.productImg%>
            <div class="nav">
                <p class="title"><%- v.productName%></p>
                <p class="price"><%- v.productPrice%></p>
                <div class="all">
                    <%- v.productCouponRemain%>
                    <p class="bottom"><span class="dj"><%- v.productCoupon%> </span><span class="btn fr"><%- v.productHref%></span></p>
                </div>
            </div>
        </a>
    </li>
    {{/each}}
</script>

<script src="lib/artTemplate/template-web.js"></script>
<script src="lib/jquery/jquery.min.js"></script>
<script src="js/common.js"></script>
<script src="js/baicaijia.js"></script>
</body>
</html>