<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>慢慢买</title>
    <link rel="stylesheet" href="lib/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/brandList.css">
</head>
<body>
<div class="container" id="up">
    <!--头部-->
    <div class="mmb_header">
        <div class="logo">
            <img src="images/header_logo.png" alt="">
        </div>
        <div class="down">
            <img src="images/header_app.png" alt="">
        </div>
    </div>

    <!--搜索框-->
    <div class="mmb_search">
        <input type="text" placeholder="请输入您想比价的商品">
        <button>搜索</button>
    </div>

    <!--产品内容-->
    <div class="mmb_content">
        <div class="lis_title">
            <ul class="clearfix">
                <li><a href="mmbIndex.html">首页&gt;</a></li>
                <li><a href="category.html">全部分类&gt;</a></li>
                <li><a href="javascript:;">筛选</a></li>
            </ul>
        </div>
        <div class="tit"><span>平板电视哪个牌子好</span></div>
        <div class="info">
            <ul class="clearfix">

            </ul>
        </div>
        <div class="tit"><span>平板电视产品销量排行</span></div>
        <div class="content">
            <ul>

            </ul>
        </div>
        <div class="tit"><span>平板电视最新评论</span></div>
        <div class="plBox">
            <ul class="clearfix">

            </ul>
        </div>
    </div>


    <!--底部-->
    <div class="mmb_footer">
        <div class="footer_info clearfix">
            <a href="#">登录</a>
            <a href="#">注册</a>
            <a href="#up"><span class="fa fa-arrow-up"></span>返回顶部</a>
        </div>
        <div class="footer_bottom">
            <p><a href="#" class="now">手机APP下载</a>
                <a href="#">慢慢买手机版</a>
                <span>-- 掌上比价平台</span></p>
            <p>m.manmanbuy.com</p>
        </div>
    </div>
</div>


<script type="text/html" id="tpl">
    {{each result v i}}
    <li><a href="productList.html?categoryId={{v.categoryId}}">
        <div class="box {{i == 0 ? 'red' : '' || i == 1 ? 'yellow' : '' || i == 2 ? 'green' : ''}}">{{i+1}}</div>
        <div class="all">
            <p>{{v.brandName}}</p>
            <p class="xs">{{v.brandInfo}}</p>
        </div>
        <span class="fa fa-angle-right"></span>
    </a></li>
    {{/each}}
</script>

<script type="text/html" id="tpl2">
    {{each result v i}}
    <li><a href="product.html?productid={{v.productId}}">
        <%- v.productImg%>
        <div class="contentBox">
            <p>{{v.productName}}</p>
            <div class="bottom">
                <p><span class="price">{{v.productPrice}}</span><span class="star fr">★★★★★</span></p>
                <p class="em"><span>{{v.productQuote}}</span><span>{{v.productCom}}</span></p>
            </div>
        </div>
    </a></li>
    {{/each}}
</script>


<script type="text/html" id="tpl3">
    {{each result v i}}
    <li><a href="javascript:;">
        <div class="one clearfix">
            <%- img%>
            <p>乐视TV(Letv) 超3 X55 55英寸智能LED液晶 超级电视 4K超清电视</p>
        </div>
        <div class="tow">
            <p><span class="name">{{v.comName}}：</span><span class="star">★★★★★</span><i class="fr">{{v.comTime}}</i></p>
            <div class="con">
              {{v.comContent}}
                {{v.comFrom}}
            </div>
            <s></s>
        </div>
    </a></li>
    {{/each}}
</script>

<script src="lib/artTemplate/template-web.js"></script>
<script src="lib/jquery/jquery.min.js"></script>
<script src="js/common.js"></script>
<script src="js/brandList.js"></script>
</body>
</html>